#page-container {
    position: relative;
    min-height: 100vh;
    background-color: #ffda66;
}
span {
    color: red;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

header {
    padding: 10px 0 5px 0;
    text-align: center;
    background-color: #43ffd5;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

main {
    max-width: 100%;
    margin: auto;
}


.row {
    max-width: 100%;

}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

div.card {
    background-color: #43ffd5;
    margin-left: 10%;
    border: 2px solid black;
    border-radius: 12px;
}

img {
    width: 100px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div h5.card-title {
    text-align: center;
}

p#card-text {
    text-align: left;
}

p#sentby {
    font-size: 14px;
    text-align: end;
}
p#date-posted {
    font-size: 10px;
    text-align: end;
}

div#buttongroup1 {
    display: block;
    position: relative;
    bottom: 0;
    margin: auto;
    text-align: center;
}

footer {
    background-color: #333;
    clear: both;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.formgroup {
    display: block;
    margin: auto;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
}

#formblock {
    border: 2px solid black;
    border-radius: 12px;
    background-color: #43ffd5;
    display: inline-block;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

div#submitbutton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}