#page-container {
    position: relative;
    min-height: 100vh;
}


#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

header {
    padding: 60px;
    text-align: center;
    background-color: #43ffd5;
}
main {
    max-width: 100%;
    margin: auto;
    align-content: center;
}

img {
    width: 100px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.card {
    background-color: #43ffd5;
    margin-left: 10%;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

footer {
    background-color: #931420;
    clear: both;
    text-align: center;
    color: white;
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
