<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Bullhorn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/base.css}">
</head>
<body>
    <div id="page-container">
        <div id="content-wrap">
    <header th:replace="base :: apptitle"></header>
    <ul th:replace="base :: navbar"></ul>
    <main>
                <div class="row">
                    <div class="column" th:each="message : ${messages}">
                <div  class="card h-100" style="width: 18rem">
                    <img th:if="${message.photo} != null" class="card-img-top" th:src="${message.photo}">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${message.title}">Card title</h5>
                        <p id="card-text" th:text="${message.content}"></p>
                        <p id="sentby" th:text="${message.sentby}"></p>
                        <p id="date-posted" th:text="${message.date}"></p>
                        <div id="buttongroup1">
                        <a th:href="@{/update/{id}(id=${message.id})}" class="btn btn-dark btn-sm">Update</a>
                        <a th:href="@{/detail/{id}(id=${message.id})}" class="btn btn-dark btn-sm">Details</a>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
    </main><br><br><br><br>
        </div>
    <footer th:replace="base :: footer"></footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>